
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ecommerce</title>
      <title>{% block title %}{% endblock %}</title>
      {% load bootstrap5 %}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
</head>
<body>
<div class="container">
  <ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
  </ul>

    <h2 class="text-center">Products</h2>
    <div>
        {% for product in products %}
            <div class="card" style="width: 18rem; display: inline-block; margin: 10px;">
                <div class="card-body">
                    <h5 class="card-title
                    ">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">{{ product.price }}</p>
                </div>
            </div>
        {% endfor %}

  {% block content %}
  {% endblock %}
</div>
</body>
</html>